body{
    padding: 0;
    margin: 0;
    font-family: 'karla_regular';
}

ul, li{
    margin: 0;
    padding: 0;
}

.wrapper{
    width:100%;
    /* background: red; */
    /*height:1000px;*/
    float: left;

}

header{
    width:calc(100% - 30px);
    height: 50px;
   /*  background: pink; */
    float: left;
    padding:15px;
}

.slider{
    width: 100%;
    height: 450px;
    /*background: yellow;*/
    background-image: url('../../images/banner.jpg') ;
    /* background-size: 100%;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-color: gray;
    background-position: top center;
    float: left;
}

.slider .conteudo-slider{
    margin-left: 25%;
    margin-top:75px;
    width: 50%;
    height: 300px;
    /*background: chocolate;*/

}

.zona-destaques{
    width: 100%;
    float: left;
    /*height: 400px;*/
    /* background: yellowgreen; */
}

.slider h1{
    text-align: center;
    color: #25a2c3;
}

.slider p{
    color: #767d85;
    text-align: center;
}

.slider a{
    width: 150px;
    height: 40px;
    background-color: #f6755e;
    display: block;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin-left:auto;
    margin-right:auto;
}


.zona-citacao{
    width: 100%;
    float: left;
    height: 400px;
    background: #f6755e;
    color: #fff;
}

.zona-portfolio{
    width: 100%;
    float: left;
    /* height: 400px; */
    background: #fff;

}

footer{
    width:100%;
    height: 250px;
    float: left;
    background: #25a2c3;
}

header nav{
    width: 50px;
    height: 50px;
    /*background: cyan;*/
    float:left;
    text-align: center;
    font-size: 25px;
    color: gray;
    line-height: 50px;
}

header .logo{
    width: calc(100% - 150px);
    /*background: gray;*/
    height: 50px;
    float: left;
    text-align: center;
    font-family: 'Pacifico', Arial, sans-serif;
    color:#f6755e;
    font-size: 25px;
}

header .botao{
    width:100px;
    height:50px;
    float:right;
    /*background-color: purple;*/
}

.botao a{
    background-color: #ffffff;
    width:98px;
    height: 48px;
    text-align: center;
    display: block;
    line-height: 50px;
    border: 1px solid #767d85;
    border-radius: 10px;
    color: #767d85;
    text-decoration: none;

}

.zona-destaques section{
    width:70%;
    /*height: 300px;*/
  /* background-color: orange;*/
    /* margin: 0 auto;*/
    float: left;
    margin-left: 15%;
    margin-top: 100px;
    margin-bottom: 100px;

}
.zona-destaques section .esq,
.zona-destaques section .meio, 
.zona-destaques section .dir {
    width:calc(50% - 100px); 
    float: left;
    /*background-color: blue;*/
    /* height: 300px;*/
    min-height: 300px;

}

.zona-destaques section .esq{
    background-color: pink;
}

.zona-destaques section .dir{
    background-color: yellow;
}
.zona-destaques section .meio{
    width:200px;

}

.meio .moldura{
    width: 200px;
    height: 200px;
    background-color: purple;

    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    overflow: hidden;

   /* border-radius: 100px; */

}

.meio .moldura img{
    width: 100%;
}


.zona-destaques section article{
    padding: 20px;
}

section .esq article{
    text-align: right;
}

.zona-destaques article h2{
    color: #25a2c3;
    font-weight: bold;
    font-family: 'Hachi Maru Pop', cursive;

}


.zona-citacao h2{
    text-align: center;
    /* margin-top: 40px;*/
    /* color: rgb(255,255,255)*/
}


.zona-citacao {
    text-align: center;
    /*font-style: italic;*/
}

.zona-citacao .texto-citacao{
    font-style: italic;

}

.zona-citacao p span{
    font-weight: bold;
}

.zona-portfolio li{
    list-style: none;

    width: calc(33.33% - 40px);
    float: left;
    margin: 20px;
}

.zona-citacao article{
    width:70%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.zona-portfolio article .moldura, 
.zona-portfolio article .texto-artigo{
    width:100%;
    float: left;
}

.zona-portfolio article .texto-artigo{
    padding: 20px;
    width: calc(100% - 40px);
    color: #767d85;
}

.zona-portfolio figure{
    margin:0;
    padding:0;
    text-align: center;
}


.zona-portfolio .moldura img{
    width: 100%;
}

.texto-artigo h2{
    color: #25a2c3;
} 

.zona-portfolio article{
    border:1px solid #767d85;
    float: left;
}
footer{
    color:#fff;

}
footer h2{
    text-align: center;
    color: #ffffff;
    margin-top: 100px;
}

footer ul {
    width:70%;
    margin: 0 auto;
}

footer li{
    width:33.33%;
    float: left;
    list-style: none;
    text-align: center;
}

footer i {
    color: #f6755e;
}